body {
    background-image: url("/images/3392075.jpg");
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  black;
    margin: 0;
}
h1 {
    text-align: center;
    margin-top: 100px;
}
#feed {
    width: 820px;
    margin: auto;
}
.card {
    border-radius: 20px;
    background-color: #f1f1f1;
    border-style: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 750px;
    margin-bottom: 20px;
}
.small {
    width: 342px;
    margin-right: 20px;
    display: inline-block;
    text-overflow: hidden;
}
.imageContainer img{
    width: 100%;
    border-radius: 10px;
}
.small img {
    height: 165px;
}
a {
    text-decoration: none;
    color: black;
}
.smallContainer {
    height: 325px;
}
